<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) -%kvp -%msg %n</pattern>
        </encoder>
    </appender>
    <root level="${com.netcracker.profiler.log.root_level:-info}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
