name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

concurrency:
  # On master/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/release' ) && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  build-test:
    name: Test
    runs-on: ubuntu-latest
    env:
      CENTRAL_PORTAL_USERNAME: ${{ secrets.MAVEN_USER }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17
          server-id: central
      - name: Test
        uses: burrunan/gradle-cache-action@v1
        with:
          multi-cache-enabled: false
          arguments: --scan --no-parallel build
      - name: Publish snapshots
        uses: burrunan/gradle-cache-action@v1
        if: ${{ env.CENTRAL_PORTAL_USERNAME != '' }}
        with:
          arguments: publishAllPublicationsToCentralSnapshotsRepository
          properties: |
            centralSnapshotsUsername=${{ secrets.MAVEN_USER }}
            centralSnapshotsPassword=${{ secrets.MAVEN_PASSWORD }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
